body {
  background-color: #f4f4f4;
  width: 100vw;
}

.color-grid {
  display: flex;
  gap: 5px;
}

.color-box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.color1 {
  background-color: #777;
}

.color2 {
  background-color: rgb(10, 186, 244);
}

.color3 {
  background-color: blue;
}

.color4 {
  background-color: hsl(180, 100%, 50%);
}

.color5 {
  background-color: #08f308;
}